$padding: 1.2em;
.bb-listen {
	display: flex;

	.bb-listen-tunes {
		padding: $padding;
		width: 12em;
		background: var(--green);
		display: flex;
		flex-direction: column;
		a { 
			color: black; 
		}
		@media (max-width: 767.98px) {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			transition: left .3s;
			z-index: 999;

			body:not(.bb-pattern-list-visible) & {
				left: -20em;
			}
		}

		hr {
			/* https://stackoverflow.com/a/34372979/242365 */
			margin-left: 0;
			margin-right: 0;
		}

		> .nav {
			flex-grow: 1;
			height: 0;
			overflow-y: auto;
			position: relative;
			margin: 0 (-$padding);
			.nav-link { 
				padding: 0.5rem $padding;
				&.active { 
					background-color: white;
					color: black;
				}
			}
		}
	}

	.bb-listen-info {

		flex-grow: 1;
		padding: 1.2em;
		overflow: auto;

		.bb-tune-info {
			padding: 1.2em;
			max-width: 740px;
			margin: 0 auto;
		}
	}

	.bb-cover {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999; /* Under modal dialog (1050) */
		background: rgba(0, 0, 0, 0.4);
		visibility: hidden;
		transition: left .3s;

		@media (max-width: 767.98px) {
			body.bb-pattern-list-visible & {
				left: 20em;
				visibility: visible;
			}
		}
	}
}