.bb-compose {
	display: flex;
	height: 100%;

	.bb-compose-tunes {
		height: 100%;
		width: 20em;
		padding: 1.2em;
		background: #fff;
		border-right: 1px solid #dee2e6;

		@media (max-width: 767.98px) {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			transition: left .3s;
			z-index: 999;

			body:not(.bb-pattern-list-visible) & {
				left: -20em;
			}
		}
	}

	.bb-compose-song-player {
		flex-grow: 1;
		height: 100%;
		width: 0;
	}

	.bb-pattern-list-tunes {
		margin-right: -1.2em;
	}
}