.bb-pattern-list {

	display: flex;
	flex-direction: column;
	height: 100%;

	.card-header, .card-body {
		padding: 0;
	}

	.card-header button {
		text-align: left;
		text-decoration: none;
		color: inherit;
		position: relative;
		background-color: white;
		border: none;

		.fa-caret-down {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.card {
		margin-bottom: 8px;
		border:none;
	}

	.bb-pattern-placeholder {
		margin: 2px;
	}

	.tune-actions {
		text-align: center;

		> * + * {
			margin-left: 0.25rem;
		}
	}

	hr {
		/* https://stackoverflow.com/a/34372979/242365 */
		margin-left: 0;
	}

	.bb-pattern-list-tunes {
		overflow-y: auto;
	}

	.general-actions {
		padding-top: 10px;
		a { 
			color: white;
		}
	}

}