<div class="bb-song-player">
	<div>
		<button type="button" class="btn" ng-class="playing.playing ? 'btn-info' : 'btn-success'" ng-click="playPause()"><span class="glyphicon" ng-class="playing.playing ? 'glyphicon-pause' : 'glyphicon-play'"></span> {{playing.playing ? 'Pause' : 'Play'}}</button>
		<button type="button" class="btn btn-danger" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span> Stop</button>
		<button type="button" class="btn btn-info" ng-click="clear()"><span class="glyphicon glyphicon-trash"></span> Clear</button>
		<div class="btn-group">
			<slider ng-model="playingOptions.speed" min="60" max="180"></slider>
		</div>
		<div class="btn-group trash-drop" ng-show="dragging" ng-drop="true" ng-drag-start="dragStart()" ng-drag-stop="dragStop()">
			<span class="glyphicon glyphicon-trash"></span>
		</div>
	</div>
	<div class="song-player-container">
		<table>
			<thead>
				<tr>
					<td colspan="2" class="dummy"></td>
					<td ng-repeat="(i,a) in utils.getNumber(getLength()*4) track by $index" colspan="{{pattern.time}}" class="beat" ng-class="getBeatClass(i)"><span>{{i+1}}</span></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="instrumentKey in utils.getKeys(config.instruments)">
					<th>{{config.instruments[instrumentKey].name}}</th>
					<td class="instrument-operations">
						<a href="javascript:" ng-click="headphones(instrumentKey)" ng-class="playingOptions.headphones == instrumentKey ? 'active' : 'inactive'"><span class="glyphicon glyphicon-headphones"></span></a>
						<a href="javascript:" ng-click="mute(instrumentKey)" ng-class="playingOptions.mute[instrumentKey] ? 'active' : 'inactive'"><span class="glyphicon glyphicon-volume-off"></span></a>
					</td>
					<td ng-repeat="(i,a) in utils.getNumber(getLength()) track by $index" ng-if="shouldDisplay(instrumentKey, i)" class="bar" colspan="{{getColSpan(instrumentKey, i)*4}}" rowspan="{{getRowSpan(instrumentKey, i)}}"
					    ng-drop="{{!song[i][instrumentKey]}}" ng-drop-success="onDrop(instrumentKey, i, $data)">
						<bb-pattern-placeholder ng-if="song[i][instrumentKey]" bb-tune-name="song[i][instrumentKey][0]" bb-pattern-name="song[i][instrumentKey][1]" bb-draggable="true" bb-drag-success="onDrag(instrumentKey, i)">
							<bb-pattern-placeholder-item ng-click="removePattern(instrumentKey, i)">Remove</bb-pattern-placeholder-item>
						</bb-pattern-placeholder>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr ng-show="dragging">
					<th>All</th>
					<td class="instrument-operations"></td>
					<td ng-repeat="(i,a) in utils.getNumber(getLength()) track by $index" class="all-drop" ng-drop="true" ng-drop-success="onDrop(null, i, $data)" colspan="4">(All)</td>
				</tr>
			</tfoot>
		</table>
		<div class="position-marker" ng-class="{'player-stopped': !playing}"></div>
	</div>
</div>