<div class="bb-song-player" ng-class="player.playing ? 'playing' : player.getPosition() == 0 ? 'stopped' : 'paused'">
	<div class="control-panel">
		<button type="button" class="btn" ng-class="player.playing ? 'btn-info' : 'btn-success'" ng-click="playPause()"><span class="glyphicon" ng-class="player.playing ? 'glyphicon-pause' : 'glyphicon-play'"></span> {{player.playing ? 'Pause' : 'Play'}}</button>
		<button type="button" class="btn btn-danger" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span> Stop</button>
		<button type="button" class="btn btn-info" ng-click="clear()"><span class="glyphicon glyphicon-trash"></span> Clear</button>
		<div class="btn-group">
			<slider ng-model="playerOptions.speed" min="60" max="180"></slider>
		</div>
		<span class="dropdown" dropdown>
			<button class="btn btn-info dropdown-toggle" dropdown-toggle>Export <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="javascript:" ng-click="downloadMP3()">MP3</a></li>
				<li><a href="javascript:" ng-click="downloadWAV()">WAV</a></li>
			</ul>
		</span>
		<div class="btn-group trash-drop" ng-show="dragging" ng-drop="true" ng-drag-start="dragStart($data)" ng-drag-stop="dragStop()">
			<span class="glyphicon glyphicon-trash"></span>
		</div>
	</div>
	<div class="song-player-container">
		<div class="col instruments">
			<div class="timeline"></div>
			<div class="field" ng-repeat="instrumentKey in utils.getKeys(config.instruments)">
				{{config.instruments[instrumentKey].name}}
			</div>
			<div class="field all-drop" ng-show="dragging">All</div>
		</div><div class="col instrument-actions">
			<div class="timeline"></div>
			<div class="field" ng-repeat="instrumentKey in utils.getKeys(config.instruments)">
				<ul class="icon-list">
					<li><a href="javascript:" ng-click="headphones(instrumentKey)" ng-class="playerOptions.headphones == instrumentKey ? 'active' : 'inactive'"><span class="glyphicon glyphicon-headphones"></span></a></li>
					<li><a href="javascript:" ng-click="mute(instrumentKey)" ng-class="playerOptions.mute[instrumentKey] ? 'active' : 'inactive'"><span class="glyphicon glyphicon-volume-off"></span></a></li>
				</ul>
			</div>
			<div class="field all-drop" ng-show="dragging"></div>
		</div><div class="song-container"><div class="col song" ng-repeat="(i,a) in utils.getNumber(getLength()) track by $index">
			<div class="timeline">
				<span ng-repeat="(i2,a2) in utils.getNumber(4) track by $index" class="beat" ng-class="'beat-i-'+(i*4+i2)" ng-click="setPosition(i*4+i2, $event)">{{i*4+i2+1}}</span>
			</div>
			<div class="field" ng-class="'song-field-'+instrumentKey+'-'+i" ng-repeat="instrumentKey in utils.getKeys(config.instruments)" ng-drop="true" ng-drop-success="onDrop(instrumentKey, i, $data)" ng-drag-enter="dragEnter(instrumentKey, i, $data)" ng-drag-leave="dragLeave(instrumentKey, i, $data)">
				<div class="pattern-container" ng-class="[ 'colspan-'+getColSpan(instrumentKey, i), 'rowspan-'+getRowSpan(instrumentKey, i) ]" ng-if="song[i][instrumentKey] && shouldDisplay(instrumentKey, i)">
					<bb-pattern-placeholder bb-tune-name="song[i][instrumentKey][0]" bb-pattern-name="song[i][instrumentKey][1]" bb-draggable="true" bb-drag-success="onDrag(instrumentKey, i)" bb-player-options="getPreviewPlayerOptions(instrumentKey, i)">
						<bb-pattern-placeholder-item dropdown dropdown-append-to-body>
							<a href="javascript:" title="Pick instruments" dropdown-toggle><span class="glyphicon glyphicon-hand-right"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="instrumentKey2 in utils.getKeys(config.instruments)"><a href="javascript:" ng-click="toggleInstrument(instrumentKey2, i, song[i][instrumentKey])"><span class="glyphicon glyphicon-ok" ng-style="{visibility: equals(song[i][instrumentKey2], song[i][instrumentKey]) ? 'visible' : 'hidden'}"></span> {{config.instruments[instrumentKey2].name}}</a></li>
							</ul>
						</bb-pattern-placeholder-item>
						<bb-pattern-placeholder-item><a href="javascript:" ng-click="removePattern(instrumentKey, i)" title="Remove"><span class="glyphicon glyphicon-trash"></span></a></bb-pattern-placeholder-item>
					</bb-pattern-placeholder>
					<span class="placeholder-drag-handle" ng-drag="true" ng-drag-data="getResizeDragData(instrumentKey, i)"><span class="caret-se"></span></span>
				</div>
			</div>
			<div class="field all-drop" ng-show="dragging" ng-drop="true" ng-drop-success="onDrop(null, i, $data)">(All)</div>
		</div></div>
		<div class="song-position-marker"></div>
		<div class="bb-loading progress" ng-show="loading != null">
			<progressbar class="progress-striped" value="loading" type="success">{{loading | number: 0}} %</progressbar>
		</div>
	</div>
</div>