.bb-song-player {
	.trash-drop {
		font-size: 2.5em;
		line-height: 1;
		position: absolute;
		margin: -.5em 0 0 .5em;
		padding: .5em;
		border-radius: 4em;

		&.drag-enter {
			background: #def;
		}
	}

	.song-player-container {
		position: relative;
		overflow-x: auto;

		table {
			table-layout: fixed;
			height: 100%;
		}

		th,td {
			white-space: nowrap;
		}

		th {
			height: 3em;
		}

		td {
			height: 100%;
		}

		tr {
			height: 3em;
		}

		.beat {
			width: 2em;
		}

		.beat, .dummy {
			border-bottom: 1px solid #888;
		}

		.all-drop {
			border-top: 1px solid #888;
			border-bottom: 1px solid #888;
			font-style: italic;
			text-align: center;
		}

		.bar.drag-enter, .all-drop.drag-enter {
			background: #def;
		}

		.beat span {
			display: inline-block;
			padding: 0 .5ex;
			border-radius: 10px;
			transition: background-color 1s, color 1s;
		}

		.beat.active span {
			background-color: #3a94a5;
			color: #fff;
			transition: all 0 ease 0;
		}

		.bar, .beat.before-bar, .instrument-operations, .dummy, .all-drop {
			border-right: 1px solid #888;
		}

		.bar {
			padding: .2em .5em;
			width: 8em;

			.pattern-placeholder {
				height: 100%;
				min-height: 3em;
			}
		}

		tbody th {
			padding-right: 1ex;
		}

		.instrument-operations .inactive {
			color: #bbb;
		}

		.position-marker {
			position: absolute;
			top: 0;
			height: 100%;
			border-left: 1px solid #000;

			&.player-stopped {
				border: none;
			}
		}
	}
}