<div class="modal-header">
	<button class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Share</h3>
</div>
<div class="modal-body">
	<uib-tabset>
		<uib-tab heading="Link">
			<textarea readonly="readonly" class="form-control" rows="5">{{getUrl()}}</textarea>
			<p><em>Opening this URL will open the songs selected below and have the selected tunes/breaks available in the list.</em></p>
		</uib-tab>
		<uib-tab heading="Raw data object">
			<textarea readonly="readonly" class="form-control" rows="5">{{getRawString()}}</textarea>
			<p><em>Copy this data into the “Import” menu to make the songs and tunes/breaks selected below available in the player.</em></p>
		</uib-tab>
	</uib-tabset>
	<hr />
	<h3>Customise selection</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Songs</th>
				<th>Tunes/Breaks</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<ul class="list-group">
						<li ng-repeat="song in state.songs track by $index" class="list-group-item" ng-class="{active: shareSongs[$index]}">
							<a href="javascript:" ng-click="shareSongs[$index] = !shareSongs[$index]">{{state.getSongName($index)}}</a>
						</li>
					</ul>
				</td>
				<td>
					<ul class="list-group">
						<li ng-repeat="tuneName in utils.getKeys(state.tunes)" class="list-group-item" ng-class="getTuneClass(tuneName)" ng-if="getModifiedPatternNames(tuneName).length > 0">
							<a href="javascript:" ng-click="clickTune(tuneName)">{{tuneName}}</a>
							<a ng-repeat="patternName in getModifiedPatternNames(tuneName)" class="badge bb-inline-list-group-item" ng-class="{active: shouldExportPattern(tuneName, patternName), disabled: shouldExportPattern(tuneName, patternName) == 2}" ng-click="sharePatterns[tuneName][patternName] = !sharePatterns[tuneName][patternName]" title="{{shouldExportPattern(tuneName, patternName) == 2 ? 'Used in song, cannot be disabled' : ''}}">{{patternName}}</a>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>