.pattern-editor-container {
	width: 100%;
	overflow-x: auto;
	padding: 1em 0;
	position: relative;
}

.pattern-editor {
	table-layout: fixed;
}

.pattern-editor .stroke {
	border-right: 1px solid #ddd;
	text-align: center;
}

.pattern-editor .stroke-inner {
	display: inline-block;
	min-width: 2.7ex;
}

.pattern-editor thead td {
	border-bottom: 1px solid #aaa;
	padding-bottom: .5ex;
}

.pattern-editor .beat span {
	display: inline-block;
	padding: 0 .5ex;
	border-radius: 10px;
	transition: background-color 1s, color 1s;
}

.pattern-editor .beat.active span {
	background-color: #3a94a5;
	color: #fff;
	transition: all 0 ease 0;
}

.pattern-editor .beat, .pattern-editor .stroke.before-beat {
	border-right: 1px solid #aaa;
}

.pattern-editor .stroke.before-bar, .pattern-editor .beat.before-bar {
	border-right: 2px solid #888;
}

.pattern-editor tbody th {
	white-space: nowrap;
	padding-right: 1ex;
}

.pattern-editor td.instrument-operations {
	border-right: 2px solid #888;
	white-space: nowrap;
}

.pattern-editor td.instrument-operations a.inactive {
	color: #bbb;
}

.pattern-editor .dummy {
	border-right: 2px solid #888;
}

.pattern-editor.time-12 .stroke-inner {
	min-width: 1ex;
}

.pattern-editor.time-12 .stroke-0,
.pattern-editor.time-12 .stroke-1,
.pattern-editor.time-12 .stroke-3,
.pattern-editor.time-12 .stroke-4,
.pattern-editor.time-12 .stroke-6,
.pattern-editor.time-12 .stroke-7,
.pattern-editor.time-12 .stroke-9,
.pattern-editor.time-12 .stroke-10 {
	border-right: none;
}

.pattern-editor-container .position-marker {
	position: absolute;
	top: 0;
	height: 100%;
	border-left: 1px solid #000;
}

.pattern-editor-container .position-marker.player-stopped {
	border: none;
}