.bb-pattern-editor-dialog {
	display: flex !important;
	justify-content: center;
	align-items: center;

	.modal-dialog {
		margin: 30px;
		width: auto;
		max-width: calc(100% - 60px);
		display: inline-block;
	}
}