.pattern-list {

	button {
		box-sizing: border-box;
		width: 90% !important;
		margin-bottom: 5px;
	}

	button.dropdown-toggle {
		width: 10% !important;
	}

	.accordion-toggle {
		display: block;
	}

	.panel-group {
		margin-bottom: 5px;
	}

}