<div class="bb-pattern-list">
	<uib-accordion ng-repeat="tuneName in utils.getKeys(tunes)">
		<uib-accordion-group>
			<uib-accordion-heading>
				{{tuneName}}
				<span class="caret"></span>
			</uib-accordion-heading>
			<bb-pattern-placeholder bb-tunes="tunes" bb-tune-name="tuneName" bb-pattern-name="patternName" ng-repeat="patternName in utils.getKeys(tunes[tuneName].patterns)" bb-draggable="true">
				<bb-transclude bb-scope="{ tuneName: tuneName, patternName: patternName }"></bb-transclude>
				<bb-pattern-placeholder-item ng-if="tuneName == myTunesKey"><a href="javascript:" title="Remove" ng-click="removePattern(tuneName, patternName)"><span class="glyphicon glyphicon-trash"></span></a></bb-pattern-placeholder-item>
			</bb-pattern-placeholder>
			<div ng-if="tuneName == myTunesKey">
				<a href="javascript:" ng-click="createPattern()">New break</a>
			</div>
		</uib-accordion-group>
	</uib-accordion>
</div>