<div class="modal-header">
	<button class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Import</h3>
</div>
<div class="modal-body">
	<form>
		<div class="form-group has-feedback" ng-class="error ? 'has-error' : warnings.length > 0 ? 'has-warning' : obj ? 'has-success' : ''">
			<textarea id="bb-import-dialog-paste" class="form-control" ng-model="pasted" rows="5" placeholder="Paste link or raw data object…"></textarea>
			<span ng-if="obj || error" class="glyphicon form-control-feedback" aria-hidden="true" ng-class="'glyphicon-' + (error ? 'remove' : warnings.length > 0 ? 'warning-sign' : 'ok')"></span>
		</div>
		<div ng-if="error" class="alert alert-danger" role="alert"><strong>{{error}}</strong></div>
		<div ng-repeat="warning in warnings" class="alert alert-warning" role="alert"><strong>{{warning}}</strong></div>
	</form>
	<div ng-if="obj">
		<hr />
		<h3>Customise selection</h3>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Songs</th>
					<th>Tunes/Breaks</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul class="list-group">
							<li ng-repeat="song in obj.songs track by $index" data-init-hack="{{_shouldImport=shouldImportSong($index); _songExists=state.songExists(song); ''}}" class="list-group-item" ng-class="{active:_shouldImport, disabled:_songExists}">
								<a ng-if="!_songExists" href="javascript:" ng-click="importSongs[$index] = !_shouldImport">{{song.name || 'Untitled song'}}</a>
								<span ng-if="_songExists" title="Song already exists.">{{song.name || 'Untitled song'}} <span class="glyphicon glyphicon-ok"></span></span>
							</li>
						</ul>
					</td>
					<td>
						<ul class="list-group">
							<li ng-repeat="tuneName in utils.getKeys(obj.tunes)" class="list-group-item" ng-class="getTuneClass(tuneName)">
								<a href="javascript:" ng-click="clickTune(tuneName)">{{tuneName}}</a>
								<span ng-repeat="patternName in utils.getKeys(obj.tunes[tuneName].patterns)" data-init-hack="{{_shouldImport=shouldImportPattern(tuneName, patternName); _isUsed=patternIsUsed(tuneName, patternName); _exists=patternExists(tuneName, patternName); ''}}">
									<a ng-if="(!_isUsed || _exists) && _exists != 2" href="javascript:" class="badge bb-inline-list-group-item" ng-class="{active: _shouldImport}" ng-click="importPatterns[tuneName][patternName] = !_shouldImport" title="{{_exists ?  'Already exists. Local version will be overridden.' : ''}}">{{patternName}} <span ng-if="_exists" class="glyphicon glyphicon-exclamation-sign"></span></a>
									<span ng-if="(_isUsed && !exists) || _exists == 2" class="badge bb-inline-list-group-item disabled" ng-class="{active: _shouldImport}" title="{{_exists == 2 ? 'Pattern already exists.' : 'Pattern is used in song, cannot be disabled.'}}">{{patternName}} <span ng-if="_exists == 2" class="glyphicon glyphicon-ok"></span></span>
								</span>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="doImport()" ng-disabled="!obj">Import</button>
</div>