<div class="bb-tune-info">
	<h2>{{tune.displayName || tuneName}}</h2>

	<div ng-bind-html="tuneName | bbTuneInfoTuneDescription"></div>

	<div ng-if="tune.sheet">
		<h3>Notation</h3>
		<p><em>Click on the <span class="glyphicon glyphicon-pencil"></span> on the breaks below to see the notes.</em></p>
		<p><a href="{{tune.sheet}}" target="_blank">Tune sheet (PDF)</a></p>
	</div>

	<h3 ng-if="tune.description || tune.sheet">Sounds</h3>
	<bb-pattern-placeholder bb-state="state" bb-tune-name="tuneName" bb-pattern-name="patternName" bb-readonly="true" ng-repeat="patternName in utils.getKeys(tune.patterns)"></bb-pattern-placeholder>
</div>