.bb-pattern-list {

	display: flex;
	flex-direction: column;
	height: 100%;

	.accordion-toggle {
		display: block;
		position: relative;

		.caret {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto 0;
		}
	}

	.panel-group {
		margin-bottom: 5px;
	}

	.bb-pattern-placeholder {
		margin-bottom: 3px;
	}

	.panel-body {
		padding: .5em;
	}

	a:focus {
		outline: none;
	}

	.tune-actions {
		text-align: center;
	}

	> .bb-pattern-list-tunes {
		flex-grow: 1;
		overflow-y: auto;
		padding: 0 1.2em;
		margin: 0 -1.2em;
	}

	hr {
		/* https://stackoverflow.com/a/34372979/242365 */
		margin-left: 0;
		margin-right: 0;
	}

}