.bb-playback-settings-button {
	.fa-caret-down {
		margin-left: 5px;
	}
}

.bb-playback-settings {

	max-width: none;

	fieldset {
		margin-bottom: 0;

		.col {
			display: flex;
		}
	}

	.instrument-names td {
		vertical-align: top;

		span,strong {
			display: inline-block;
			white-space: nowrap;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
		}
	}

	.volumes {
		table-layout: fixed;
		width: 0;

		.sliders td {
			width: 28px;
			height: 132px;
		}

		input[type=range] {
			transform: rotate(-90deg);
			transform-origin: bottom left;
			margin: 105px 0 0 15px;
			width: 120px;
			height: 20px;
		}
	}

	td {
		padding: 1px 8px;
		text-align: center;
	}

	.mute td {
		padding-top: 10px;
		padding-bottom: 4px;
	}

	td.master {
		border-right: 1px solid #dee2e6;
		padding-left: 0;
		padding-right: 8px;

		input[type=range] {
			margin-left: 20px;
		}
	}

	.inactive {
		color: #bbb;
	}

}