<div class="bb-listen">
	<div class="bb-listen-tunes">
		<bb-pattern-list-filter ng-model="filter"></bb-pattern-list-filter>

		<hr />

		<ul class="nav nav-pills nav-stacked">
			<li class="nav-item" ng-repeat="thisTuneName in tuneList" ng-class="{active: thisTuneName == tuneName}">
				<a href="javascript:" ng-click="selectTune(thisTuneName)">{{state.tunes[thisTuneName].displayName || thisTuneName}}</a>
			</li>
		</ul>
	</div>

	<div class="bb-listen-info">
		<bb-tune-info bb-state="state" bb-tune-name="tuneName"></bb-tune-info>
	</div>
</div>