<div class="bb-pattern-list">
	<div class="input-group">
		<input type="text" class="form-control bb-pattern-list-filter" ng-model="filter.text" placeholder="Filter: {{filterCats[filter.cat]}}" />
		<span class="input-group-btn" uib-dropdown dropdown-append-to-body="true">
			<button type="button" class="btn btn-default" uib-dropdown-toggle><span class="caret"></span></button>
			<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
				<li ng-repeat="(key,val) in filterCats" ng-class="{active: filter.text.trim()=='' && filter.cat==key}" role="menuitem"><a href="javascript:" ng-click="filter.text=''; filter.cat=key">{{val}}</a></li>
			</ul>
		</span>
	</div>

	<hr />

	<uib-accordion ng-repeat="tuneName in (state | bbPatternListFilter:filter)">
		{{customTune = isCustomTune(tuneName); ''}}
		<uib-accordion-group is-open="isOpen[tuneName]">
			<uib-accordion-heading>
				{{tuneName}}
				<span ng-if="customTune" class="glyphicon glyphicon-star-empty" uib-tooltip="User-created tune"></span>
				<span class="caret"></span>
			</uib-accordion-heading>
			<bb-pattern-placeholder bb-state="state" bb-tune-name="tuneName" bb-pattern-name="patternName" ng-repeat="patternName in utils.getKeys(state.tunes[tuneName].patterns)" bb-draggable="true">
				{{customPattern = isCustomPattern(tuneName, patternName); ''}}
				<bb-pattern-placeholder-item><a href="javascript:" uib-tooltip="Copy{{customPattern ? '/Move/Rename' : ''}} break" ng-click="copyPattern(tuneName, patternName)"><span class="glyphicon glyphicon-duplicate"></span></a></bb-pattern-placeholder-item>
				<bb-pattern-placeholder-item ng-if="customPattern"><a href="javascript:" uib-tooltip="Remove" ng-click="removePattern(tuneName, patternName)"><span class="glyphicon glyphicon-trash"></span></a></bb-pattern-placeholder-item>
				<bb-transclude bb-scope="{ tuneName: tuneName, patternName: patternName }"></bb-transclude>
			</bb-pattern-placeholder>
			<div class="tune-actions">
				<a href="javascript:" ng-click="createPattern(tuneName)" uib-tooltip="New break"><span class="glyphicon glyphicon-plus-sign"></span></a>
				<a ng-if="customTune" href="javascript:" ng-click="renameTune(tuneName)" uib-tooltip="Rename tune"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="javascript:" ng-click="copyTune(tuneName)" uib-tooltip="Copy tune"><span class="glyphicon glyphicon-duplicate"></span></a>
				<a ng-if="customTune" href="javascript:" ng-click="removeTune(tuneName)" uib-tooltip="Remove tune"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</uib-accordion-group>
	</uib-accordion>
	<div class="general-actions">
		<a href="javascript:" ng-click="createTune()"><span class="glyphicon glyphicon-plus-sign"></span> New tune</a>
	</div>
</div>