.bb-pattern-list {

	.accordion-toggle {
		display: block;
		position: relative;

		.caret {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto 0;
		}
	}

	.panel-group {
		margin-bottom: 5px;
	}

	.bb-pattern-placeholder {
		margin-bottom: 3px;
	}

	.panel-body {
		padding: .5em;
	}

	a:focus {
		outline: none;
	}

	.tune-actions {
		display: block;
		text-align: center;
	}

}