.bb-pattern-placeholder.bb-pattern-placeholder.bb-pattern-placeholder.bb-pattern-placeholder {

	position: relative;

	&[draggable=true] {
		cursor: move;
	}

	&.dragging.drag-effect-move {
		visibility: hidden;
	}

	.pattern-button {
		height: 100%;
		box-sizing: border-box;
		display: block;
		text-align: left;
		overflow: hidden;

		.tune-name {
			font-weight: bold;
		}
	}

	.actions {
		position: absolute;
		padding: 3px 5px;
		top: 2px;
		right: 2px;
		border-radius: 5px;
	}

	.position-marker {
		position: absolute;
		top: 0;
		height: 100%;
		border-left: 1px solid #000;
		transition: left 0.1s linear;
		pointer-events: none;
	}

}

#bb-pattern-placeholder-drag-clone {
	opacity: .5;
}