.bb-pattern-placeholder.bb-pattern-placeholder.bb-pattern-placeholder.bb-pattern-placeholder {

	height: 3em;
	position: relative;

	&[draggable=true] {
		cursor: move;
	}

	&.dragging.drag-effect-move {
		visibility: hidden;
	}

	.card-body {
		padding: 0;
	}

	.pattern-button {
		height: 100%;
		box-sizing: border-box;
		display: block;
		text-align: left;
		padding: 0 12px;
		overflow: hidden;

		.tune-name {
			font-weight: bold;
		}
	}

	.actions {
		position: absolute;
		padding: 3px 5px;
		top: 2px;
		right: 2px;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.5);
		opacity: 0.5;
		transition: opacity .3s, background-color .3s;

		&:hover {
			opacity: 1;
			background-color: #fff;
		}
	}

	.position-marker {
		position: absolute;
		top: 0;
		height: 100%;
		border-left: 1px solid #000;
		transition: left 0.1s linear;
		pointer-events: none;
	}

}

#bb-pattern-placeholder-drag-clone {
	opacity: .5;
}