<div class="bb-pattern-placeholder">
	<div class="btn btn-default pattern-button">
		<span class="tune-name">{{tuneName}}</span>
		<br>
		<span class="pattern-name">{{patternName}}</span>
	</div>
	<div class="drag-handle" ng-drag="draggable" ng-drag-success="dragSuccess()" ng-drag-data="getDragData(tuneName, patternName)" ng-if="draggable">
	</div>
	<ul class="actions icon-list">
		<li><a href="javascript:" title="Listen" ng-click="playPattern()"><span ng-class="'glyphicon glyphicon-'+(player.playing ? 'stop' : 'play-circle')"></span></a></li>
		<li><a href="javascript:" title="Edit" ng-click="editPattern()"><span class="glyphicon glyphicon-pencil"></span></a></li>
		<li ng-if="hasLocalChanges()"><a href="javascript:" title="Revert modifications" ng-click="restore()"><span class="glyphicon glyphicon-erase"></span></a></li>
		<ng-transclude></ng-transclude>
	</ul>
	<div class="position-marker" ng-show="player.playing"></div>
</div>