<div class="modal-header">
	<button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">{{state.tunes[tuneName].displayName || tuneName}} – {{state.tunes[tuneName].patterns[patternName].displayName || patternName}}</h3>
</div>
<div class="modal-body">
	<bb-pattern-player bb-pattern="pattern" bb-pattern-original="originalPattern" bb-readonly="readonly" bb-settings="state.playbackSettings">
		<button type="button" class="btn btn-info" ng-show="!originalPattern || !originalPattern.equals(pattern)" ng-click="share()"><span class="glyphicon glyphicon-share-alt"></span> Share</button>
	</bb-pattern-player>
</div>
<div class="bb-loading" ng-show="loading"></div>