<div class="bb-overview">
	<button type="button" class="btn btn-default visible-xs-inline-block bb-overview-toggle-patternList" ng-click="togglePatternList()" uib-tooltip="Show tune list" tooltip-placement="bottom"><span class="glyphicon glyphicon-menu-hamburger"></span></button>

	<uib-tabset active="activeTab">
		<uib-tab heading="Listen">
			<bb-listen></bb-listen>
		</uib-tab>
		<uib-tab heading="Compose">
			<bb-compose></bb-compose>
		</uib-tab>
	</uib-tabset>

	<div class="bb-cover" ng-click="togglePatternList()"></div>
</div>