:root {
	--bb-strong-border-color: color-mix(in srgb, var(--bs-body-color) 50%, transparent);
	--bb-active-beat-bg: #3a94a5;
	--bb-active-beat-color: #fff;
	--bb-disabled-link-color: color-mix(in srgb, var(--bs-body-color) 30%, transparent);
}

html {
	font-size: 14px;
	min-height: 100%;
	color-scheme: light dark;
}

html,body,#app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

h1,h2,h3,h4,h5,h6,.popover-header {
	color: inherit;
}

.dropdown-menu {
	max-height: 95vh;
	overflow-y: auto;
}

.icon-list {
	display: inline-flex;
	align-items: center;

	li:not(:first-child) {
		margin-left: 0.25rem;
	}

	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-group-item > a:first-child {
	display: block;
	color: inherit;
	text-decoration: inherit;
}

.bb-inline-list-group-item {
	margin-right: 5px;
}