@import "~bootswatch/dist/cerulean/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~mobile-drag-drop/default.css";

html {
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6,.popover-header {
	color: inherit;
}

.btn-secondary.active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	background: #e9ecef !important;
}

.dropdown-menu {
	max-height: 95vh;
	overflow-y: auto;
}

.icon-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
	}
}

.list-group-item > a:first-child {
	display: block;
	color: inherit;
	text-decoration: inherit;
}

.bb-inline-list-group-item {
	margin-right: 5px;
}