@import "bootstrap-vue/dist/bootstrap-vue.css";
@import "mobile-drag-drop/default.css";

html {
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6,.popover-header {
	color: inherit;
}

.dropdown-menu {
	max-height: 95vh;
	overflow-y: auto;
}

.icon-list {
	display: inline-flex;
	align-items: center;

	li:not(:first-child) {
		margin-left: 0.25rem;
	}

	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-group-item > a:first-child {
	display: block;
	color: inherit;
	text-decoration: inherit;
}

.bb-inline-list-group-item {
	margin-right: 5px;
}