.bb-song-player {
	height: 100%;
	display: flex;
	flex-direction: column;

	.trash-drop {
		font-size: 35px;
		line-height: 35px;
		width: 65px;
		height: 65px;
		align-items: center;
		justify-content: center;
		position: absolute;
		margin: -17px 0 0 25px;
		padding: 15px;
		border-radius: 60px;
		background: #fff;
		box-shadow: 0 0 10px #000;
		z-index: 100;
	}

	.trash-drop, .all-drop {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.7s;
	}

	.drag-over {
		background: #def;
	}

	.pattern-container {
		transition: opacity 0.7s;
	}

	&.dragging {
		.trash-drop, .all-drop {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&.dragging .pattern-container, &.resizing .pattern-container {
		pointer-events: none;
		opacity: 0.7;

		.bb-pattern-placeholder.dragging {
			height: auto !important;
		}

		.placeholder-drag-handle {
			visibility: hidden;
		}
	}

	.song-player-container {
		flex-grow: 1;
		position: relative;
		white-space: nowrap;
		margin-top: 1em;
		overflow: auto;
		padding: 0 1.2em 1.2em 1.2em;

		.song-container {
			display: inline-block;
			vertical-align: top;
		}

		.bb-col {
			display: inline-block;
			vertical-align: top;

			&.song {
				width: 10em;

				.field {
					padding: .2em .5em;

					.pattern-container {
						position: relative;
					}

					@for $i from 1 through 20 {
						.pattern-container.colspan-#{$i} {
							width: 10em * $i - 1em;
						}

						.pattern-container.rowspan-#{$i} {
							height: 3.4em * $i - .4em;
						}
					}

					.bb-pattern-placeholder {
						height: 100%;
					}

					.placeholder-drag-handle {
						position: absolute;
						bottom: 0;
						right: 0;
						cursor: se-resize;
						display: block;

						.caret-se {
							display: block;
							width: 0;
							height: 0;
							color: #666;
							border-bottom: 8px solid;
							border-right: 8px solid;
							border-top: 8px solid transparent;
							border-left: 8px solid transparent;
						}
					}
				}
			}

			&.instruments .field {
				font-weight: bold;
				padding-right: 1ex;
			}

			&.instrument-actions > * {
				padding-right: 5px;
			}

			&.instrument-actions,&.song {
				border-right: 1px solid #888;
			}

			&.instruments .field,&.instrument-actions .field,&.instrument-actions .field .glyphicon {
				line-height: 3.4em;
				vertical-align: middle;
			}

			&.instrument-actions {
				text-align: right;

				.glyphicon {
					line-height: inherit;
				}
			}

			.field {
				height: 3.4em;
			}

			.timeline {
				height: 2em;
				border-bottom: 1px solid #888;
			}

			.beat {
				width: 25%;
				cursor: pointer;
				display: inline-block;
				padding: 0 .5ex;
				border-radius: 10px;
				transition: background-color 1s, color 1s;
			}

			.all-drop {
				border-top: 1px solid #888;
			}

			&.song .all-drop {
				font-style: italic;
				text-align: center;
				line-height: 3.4em;
				vertical-align: center;
				border-bottom: 1px solid #888;
			}
		}

		.inactive {
			color: #bbb;
		}

		.song-position-marker {
			position: absolute;
			top: 0;
			height: 100%;
			border-left: 1px solid #000;
			transition: left 0.1s linear;
			pointer-events: none;
		}
	}

	.song-player-container .bb-col .beat.active {
		background-color: #3a94a5;
		color: #fff;
		transition: none;
	}

	.song-dropdown {
		ul {
			min-width: 250px;
		}

		li.rename a, li.copy a, li.remove a {
			padding: 0.25rem;
		}

		li.remove {
			margin-right: 10px;
		}

		.list-unstyled {
			display: flex;
			align-items: center;
		}
	}

	.control-panel {
		padding: 1.2em 1.2em 0 1.2em;

		> .divider {
			display: inline-block;
			vertical-align: top;
			height: 34px;
			margin: 0 9px;
			border-left: 1px solid #dee2e6;
		}
	}

	.actions .dropdown-toggle {
		padding: 0;
	}
}