<span ng-if="editable" uib-dropdown dropdown-append-to-body>
	<a href="javascript:" class="dropdown-toggle" uib-dropdown-toggle class="stroke-inner">{{config.strokes[pattern[instrumentKey][i]] || ' '}}</a>
	<ul uib-dropdown-menu class="bb-pattern-player-stokes-dropdown-menu">
		<li><a href="javascript:" ng-click="pattern[instrumentKey][i]=' '"> </a></li><li
			ng-repeat="stroke in config.instruments[instrumentKey].strokes"><a href="javascript:" ng-click="pattern[instrumentKey][i]=stroke">{{config.strokes[stroke]}}</a></li>
	</ul>
</span>