<div>
	<button type="button" class="btn" ng-class="player.playing ? 'btn-info' : 'btn-success'" ng-click="playPause()"><span class="glyphicon" ng-class="player.playing ? 'glyphicon-pause' : 'glyphicon-play'"></span> {{player.playing ? 'Pause' : 'Play'}}</button>
	<button type="button" class="btn btn-danger" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span> Stop</button>
	<div class="btn-group" uib-dropdown ng-if="editable">
		<button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>Length: {{pattern.length}} <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="le in [ 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64 ]"><a href="javascript:" ng-click="pattern.length = le">Length: {{le}}</a></li>
		</ul>
	</div>
	<div class="btn-group" uib-dropdown ng-if="editable">
		<button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>Time: {{pattern.time}}⁄4 <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="ti in config.times"><a href="javascript:" ng-click="pattern.time = ti">Time: {{ti}}⁄4</a></li>
		</ul>
	</div>
	<div class="btn-group speed-slider">
		<slider ng-model="playerOptions.speed" min="60" max="180"></slider>
	</div>
	<bb-transclude></bb-transclude>
	<button type="button" class="btn btn-warning" ng-show="hasLocalChanges()" ng-click="reset()"><span class="glyphicon glyphicon-erase"></span> Restore original</button>
</div>
<div class="bb-pattern-editor-container">
	<table class="pattern-editor" ng-class="'time-'+pattern.time">
		<thead>
			<tr>
				<td colspan="2" class="dummy"></td>
				<td ng-repeat="(i,a) in utils.getNumber(pattern.length) track by $index" colspan="{{pattern.time}}" class="beat" ng-class="getBeatClass(i)" ng-click="setPosition(i, $event)"><span href="javascript:">{{i+1}}</span></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="instrumentKey in utils.getKeys(config.instruments)">
				<th>{{config.instruments[instrumentKey].name}}</th>
				<td class="instrument-operations">
					<a href="javascript:" ng-click="headphones(instrumentKey)" ng-class="playerOptions.headphones == instrumentKey ? 'active' : 'inactive'"><span class="glyphicon glyphicon-headphones"></span></a>
					<a href="javascript:" ng-click="mute(instrumentKey)" ng-class="playerOptions.mute[instrumentKey] ? 'active' : 'inactive'"><span class="glyphicon glyphicon-volume-off"></span></a>
				</td>
				<td ng-repeat="(i,a) in utils.getNumber(pattern.length*pattern.time) track by $index" class="stroke" ng-class="getStrokeClass(i)">
					<span ng-if="!editable" class="stroke-inner">{{config.strokes[pattern[instrumentKey][i]] || ' '}}</span>
					<a ng-if="editable && !strokeDropdownOpen" href="javascript:" tabindex="0" class="stroke-inner" uib-popover-template="'app/shared/ui/pattern-player/pattern-player-stroke-dropdown.html'" popover-placement="bottom" popover-trigger="focus">{{config.strokes[pattern[instrumentKey][i]] || ' '}}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="position-marker" ng-class="{'player-stopped': !player.playing && player.getPosition() == 0}"></div>
</div>